<?xml version='1.0' encoding='utf-8'?>
<widget id="Kyowdem.dbd" version="1.0.0">
  <name>DBD Perk</name>
  <description>
    Stat for killer perks on Dead By Daylight
  </description>
  <author email="collomb.mehdi@gmail.com">
    Kyowdem
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <icon src="res/icon.png" />
</widget>
